<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039530961439-4voincm82rgk9he81e645qnp5ic0fhpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039530961439-4voincm82rgk9he81e645qnp5ic0fhpt</string>
	<key>API_KEY</key>
	<string>AIzaSyBMNh7Ba9HQ1s8-9cJr6mpAO_auR9NInKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1039530961439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bioskop</string>
	<key>PROJECT_ID</key>
	<string>flutter-bioskop-58bb6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bioskop-58bb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039530961439:ios:8937ea1efb9e7c74d8832a</string>
</dict>
</plist>